<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Interno - Tamalitos Don Juanito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sesion.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Sistema Interno Administrativo<br>Tamalitos Don Juanito</h1>
        
        <!--Inicio de Sesión -->
    <form id="loginForm" style="display: block;">
        <h2>Iniciar Sesión</h2>
        <div class="form-group">
            <label for="loginUsername">Usuario:</label>
            <input type="text" id="loginUsername" required>
        </div>
        <div class="form-group">
            <label for="loginPassword">Contraseña:</label>
            <input type="password" id="loginPassword" required>
        </div>
        <a class="button" href="{{ url_for('sistema') }}">Iniciar Sesión</a>
        <div id="loginMessage"></div>

    </form>
</div>

<script src="/Assets/Js/sesion.js"></script>
</body>
</html>